@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap");
  background-color: #172554;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(59,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%233250B3'/%3E%3Cstop offset='1' stop-color='%234B5563'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(87,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%231D4ED8'/%3E%3Cstop offset='1' stop-color='%23FFFFFF'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='16.83'%3E%3Cpath transform='translate(-53.55 -4) rotate(-6.85 1409 581) scale(0.9303469999999999)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='5.61' transform='translate(-91.5 48) rotate(-0.09999999999999964 800 450) scale(0.99586)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(-3.1999999999999993 -13.5) rotate(-15.5 401 736) scale(0.99586)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='5.1'%3E%3Cpath transform='translate(288 9.799999999999999) rotate(-2.4499999999999997 150 345) scale(1.0094489999999998)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='11.22' transform='translate(-32.5 -134.5) rotate(-36 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-125.6 26.4) rotate(-5.999999999999998 1400 132) scale(0.855)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  font-family: "Maven Pro", sans-serif;
}

.active {
  @apply bg-blue-950  text-white;
  padding: 1rem;
  border-radius: 100%;
}
